<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/global.css">
    <link rel="stylesheet" href="../../public/css/chat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <script>
        window.history.pushState("", "Chat", "/chat");
        // socket code
        const ws = new WebSocket(`ws://localhost:5001?userName=${<%- JSON.stringify(userName) %>}&token=${<%- JSON.stringify(token) %>}`);

        // error from server
        ws.onerror = (error) => {
            alert("An error happened");
        };
        // receive message from server
        ws.onmessage = function (message) {
            const data = JSON.parse(message.data);
            var display = document.getElementById("conversation");
            if (data.messages) {
                data.messages.forEach(message => {
                    display.innerHTML += message + "<br />";
                });
            } else if (data.message) {
                display.innerHTML += data.message + "<br />";
            }
        };
    </script>

    <div id="container">
        <div id="firstRow">
<!--           todo Add buttons-->
        </div>
        <div id="middleRow">
            <div id="messages">
                <div class="display" id="conversation">
                </div>
            </div>
            <div id="inputMessage">
                <div class="display">
                    <input id="message"/>
                </div>
            </div>
        </div>
        <div id="lastRow">
            <img id="logout" src="public/images/close_btn.png" onclick="logout()" />
        </div>
    </div>

    <script>
        function logout() {
            const path = <%- JSON.stringify(url) %>;
            axios.get(`${path}/logout`, { params : {
                    userName: <%- JSON.stringify(userName) %>,
                    token: <%- JSON.stringify(token) %>
                } }).then( () => {
                window.location.href = `${path}`;
            });

        }
        const input = document.getElementById("message");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                ws.send(JSON.stringify({
                    message : input.value,
                    userName: <%- JSON.stringify(userName) %>,
                    token: <%- JSON.stringify(token) %>
                }));
                input.value = "";
            }
        });
    </script>

</body>
</html>
